/*** Assignment: Get Hooked On Bass***/

/*  Table of contents
=====================
GLOBAL SETTINGS
HERO IMAGE
HEADER
NAVIGATION
MAIN CONTENT
LISTS
COLOURED BACKGROUNDS
FOOTER
MEDIA
FORM
CALL-TO-ACTION
*/

/*** GLOBAL SETTINGS ***/

/*CHANGED: font-size is 62.5% in Skeleton*/
/*To control typography fluidity, set root font size 100%, equivalent 16px*/
html {
  height: 100%;
  margin: 0 auto;
  font-size: 100%;
}
/*REFERENCE: coding of responsive typography with reference to:*/
/*http://www.creativebloq.com/css3/handling-typography-responsive-design-4122794*/
/*Reduced by one-eigth to 14px for mobile-first reading UX*/
body {
  height: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0 auto;
  font-size: 87.5%;
  font-family: Lato, Muli, Arial, Helvetica, sans-serif;
  &.in-transition {
    transition: transform 2700ms ease;
  }
}
@media screen and (min-width: 750px) {
  body {
  font-size: 100%;
  }
}

/*** HERO IMAGE ***/

/*REFERENCE: hero image coded with reference to the following:*/
/*https://www.w3schools.com/howto/howto_css_image_text.asp*/
/*https://www.w3schools.com/howto/howto_css_hero_image.asp*/
/*#hero-wrapper {
  width: 100%;
  margin: 0 auto;
}*/
#hero-image {
  background-image: url("../images/hero_410px.jpg");
  max-width: 100%;
  height: 90%;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover; 
  position: relative;
}
#hero-text {
  text-align: center;
  position: relative;
  top: 85%;
  width: 100%;
  height: auto;
}
/*Responsive hero => media queries to bring in images cropped to suit different screen sizes*/
/*Mobile first approach => set media queries to min-widths*/
/**/
/*Mobile landscape, tablet portrait*/
@media screen and (min-width: 550px) {
  #hero-image {
    background-image: url("../images/hero_550px.jpg");
  }
}
/*Tablet landscape*/
@media screen and (min-width: 750px) {
  #hero-image {
    background-image: url("../images/hero_750px.jpg");
  }
}
/*Full screen*/
@media screen and (min-width: 960px) {
  #hero-image {
    background-image: url("../images/hero_960px.jpg");
  }
}
/*End image media queries*/

/*** HEADER ***/

#header-wrapper {
  width: 100%;
  margin: 0 auto;
}
#header-image {
  background-image: url("../images/header1.jpg");
  max-width: 100%;
  height: 50%;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover; 
}
#header-text {
    position: relative;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h3 {
  font-family: "Permanent Marker";
  font-size: 1.6rem;
  color: #c4c7ce;
  text-shadow: 4px 4px 8px #000000, -4px -4px 8px #000000;
  text-align: center;
}
@media screen and (min-width: 550px) {
  h3 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 750px) {
  h3 {
    font-size: 3rem;
  }
}

/*** NAVIGATION ***/

/*REFERENCE: coded with reference to:
/*https://www.w3schools.com/icons/google_icons_navigation.asp*/
/*https://webdesign.tutsplus.com/articles/a-simple-responsive-mobile-first-navigation--webdesign-6074*/
/*The book "CoderDojo: Create with Code"*/
a:link, a:visited {
  color: #0000EE;
  text-decoration: none;
}
a:hover, a:focus {
  color: #0000EE;
  text-decoration: underline;
}
#nav-anchor {
  margin-top: 0.5rem;  
}
nav {
  background-color: #ffffff;
  font-family: Muli;
  font-weight: 700;
  font-size: 1rem;
  color: #0000EE;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: block;
  text-align: left;
}
nav ul li a:link {
  text-decoration: none;
}
.nav-active a {
  color: #8b8b8b;
}
nav ul li a:hover {
  border-bottom: 3px solid #0000EE;
}
#secondary-nav {
  display: none;
}
/*Typography breakpoint: reduced font size at 750px to get better line length for reading UX on mobile or tablet*/
@media only screen and (min-width: 750px) {
  #nav-anchor {
        display: none;
    }
  #primary-nav {
        display: none;
  }
  #secondary-nav {
        display: inline;
  }
  nav {
    font-size: 1.25rem;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    display: inline;
    border-right: 2px solid #0000EE;
    padding-right: 8px;
    padding-left: 8px;
  }
  nav ul li:last-child {
    border-right: none;
  }
  nav ul li a:link {
    text-decoration: none;
  }
  .nav-active a {
    color: #8b8b8b;
  }
  nav ul li a:hover {
  border-bottom: 4px solid #0000EE;
  }
}
/*** MAIN CONTENT ***/
h1 {
  font-family: Muli;
  color: #741b47;
  font-style: normal;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1.6;
  margin: 0 auto;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
/*Typography breakpoint: reduced font size at 750px to get better line length for reading UX on mobile or tablet*/
@media screen and (min-width: 750px) {
  h1 {
    font-size: 1.5rem;
    line-height: 1.8;
  }
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
h2 {
  font-family: Muli;
  color: #ffffff;
  font-style: normal;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1.6;
  text-align: center;
  background-color: #000040;
  margin-bottom: 0.5rem;
}
.h2-notice {
  background-color: #ff0000;
  font-style: italic;
}
/*
/*Typography breakpoint: reduced font size at 750px to get better line length for reading UX on mobile or tablet*/
@media screen and (min-width: 750px) {
  h2 {
    font-size: 1.25rem;
    line-height: 1.8;
  }
}
h4 {
  font-family: Muli;
  color: #ffffff;
  font-style: normal;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1.6;
  text-align: center;
  background-color: #000040;
  margin-bottom: 0.5rem;
}
Typography breakpoint: reduced font size at 750px to get better line length for reading UX on mobile or tablet*/
@media screen and (min-width: 750px) {
  h4 {
    font-size: 1rem;
    line-height: 1.6;
  }
}
p {
  font-family: Lato;
  font-weight: 400;
  color: #242424;
  text-align: justify;
  vertical-align: baseline;
  line-height: 1.4;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.p-notice {
  font-family: Muli;
  font-weight: 600;
  font-size: 0.6rem;
  line-height: 1.2;
  padding: 0 0.5rem 0 0.5rem;
}
/*Typography breakpoint: reduced font size at 750px to get better line length for reading UX on mobile or tablet*/
@media screen and (min-width: 750px) {
  p {
    font-size: 1rem;
    line-height: 1.5;
  }
  .p-notice {
    font-size: 0.8rem;
    line-height: 1.4;
  }
}
/*** LISTS ***/
.list-pad {
  padding-left: 1.25rem;
  padding-right: 0.5rem;
  padding-bottom: 0;
  margin: 0;
  margin-bottom: 0.5rem;
}
ul {
  padding-left: 1.5rem;
  list-style-position: outside;
  list-style-type: disc;
  margin-bottom: 0.5rem;
}
ol ul {
  font-size: 0.8rem;
  line-height: 1.5;
}
ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
dd {
  list-style: circle;
}
/*Typography breakpoint: reduced font size at 750px to get better line length for reading UX on mobile or tablet*/
@media screen and (min-width: 750px) {
  ol ul {
    font-size: 0.8rem;
    line-height: 1.4;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
li {
  margin-bottom: 0.5rem;
}
/*** COLOURED BACKGROUNDS ***/
.bg-grey {
  background-color: #bebebe;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.4;
}
/*Typography breakpoint: reduced font size at 750px to get better line length for reading UX on mobile or tablet*/
@media screen and (min-width: 750px) {
  .bg-grey {
    font-size: 1rem;
    line-height: 1.5;
  }
}
/*** FOOTER ***/
.footer {
  padding: 1rem;
  margin: 0 1rem;  
}
.footer-email {
    font-family: Muli;
    font-weight: 600;
}
/*** MEDIA ***/
/**/
/*IMG*/
/*max-width used to make images responsive*/
/*Images have a box-shadow to make them appear to float off the page a little*/
/*REFERENCE: coded with reference to w3schools.com box-shadow*/ 
img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
}
.img-s {
  max-width: 100%;
  height: auto;
  margin-top: 0.25rem;
  box-shadow: -6px -6px 9px rgba(0,0,0,0.2), 
              -3px -3px 6px rgba(0,0,0,0.4); 
}
figure {
  margin: 0 0 1rem 0;
}
figcaption {
  font-family: Muli;
  font-weight: 700;
  font-style: italic;
  color: #000040;
  text-align: justify;
  vertical-align: baseline;
  line-height: 1.5;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.fc-final {
  text-align: center;
}
/*VIDEO*/
/*REFERENCE: responsive video wrapper coded with reference to https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php*/
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 ratio same as 560:315 in Youtube embed code*/
	padding-top: 2rem;
	height: 0;
  margin-bottom: 0.5rem;
}
.video-wrapper > iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*** FORM ***/
form {
  margin-bottom: 0.5rem;
}
fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
}
form legend {
  font-weight: bold;
}
/*** CALL-TO-ACTION ***/
/*REFERENCE: coded with reference to https://www.kevinleary.net/pulsating-css3-animations/*/
#cta {
  font-size: 0.8rem;
  padding: 6px 1rem;
  background-color: #0000ee;
  color: #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
}
#cta:hover, #cta:focus {
  background-color: #008000;
  text-decoration: none;
}
/*Typography breakpoint: reduced font size at 750px to get better line length for reading UX on mobile or tablet*/
@media screen and (min-width: 750px) {
  #cta {
    font-size: 1rem;
    line-height: 1.5;
  }
}  
 .pulsate {
  margin-bottom: 1rem;
  text-align: center;
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}
/***MAP***/
#mapid {
  max-width: 100%;
  height: 400px;
}